---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "{{ site.theme }}";

.site-footer {
  padding: $spacing-unit / 2 0;
}

.footer-col-wrapper {
  margin-left: 0;
  display: flex;
  justify-content: space-between;
}

.footer-col-wrapper:after{
  content: none;
}

.footer-col {
  margin-bottom: 0;
  padding-left: 0;
  float: none;
}

.footer-col-1 {
  width: 100%;
}

.footer-col-2 {
  width: 100%;
}

.footer-col-3 {
  width: 100%;
}

@include media-query($on-laptop) {
  .footer-col-wrapper {
    @include relative-font-size(0.9375);
    display: initial;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
  }
  
  .footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
  
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
  
  .footer-col-3 > p {
    text-align: center;
  }
  
  .social-media-list {
    text-align: right;
  }
}

@include media-query($on-palm) {
  .footer-col-wrapper {
    @include relative-font-size(0.9375);
    display: initial;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
  }
  
  .footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
  
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
  
  .footer-col-3 > p {
    text-align: left;
  }
  
  .social-media-list {
    text-align: left;
  }
}
