---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "{{ site.theme }}";

.footer-col-wrapper {
  margin-left: 0;
  display: flex;
  justify-content: space-between;
}

.footer-col-wrapper:after{
  content: none;
}

.footer-col {
  margin-bottom: 0;
  padding-left: 0;
  float: none;
}

.footer-col-1 {
  width: auto;
}

.footer-col-2 {
  width: auto;
}

.footer-col-3 {
  width: auto;
}
